@font-face {
    font-family: Lilita;
    src: url("./fonts/Lilita.ttf")
}

@font-face {
    font-family: Digital;
    src: url("./fonts/digital.ttf")
}

html, body, #root {
    height: 100%;
}


.header {
    height: 6vh;
    font-size: 2.5vw;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 2vw 0vw 2vw;
}

.genres {
    display: flex;
    gap: 2vh;
}


.green-txt-btn, .purple-txt-btn {
    background-color:black;
    max-height: 5vh;
    font-size: 2.5vh;
    font-weight: bold;
    border: none;
    color: #00FA9A;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 0px 1vh 0px 1vh;

}

.create-grid-button {
    margin-top: 1vh;
    
}

.green-txt-btn:hover {
    color:  #7B68EE;
}

.purple-txt-btn:hover {
    color: #00FA9A;
}

.purple-txt-btn {
    color: #7B68EE;
}

.title {
    color: #00FA9A;
    font-family: Lilita;
    display: inline-block;
}

.title-span {
    color: #7B68EE;
    
}

.header-right {
    display: flex;
    gap: .8vw;
}

.grid-cell {
    border: 1px solid black;
    padding: 40px;
    font-size: .8rem;
}

.grid-form input{
    width: 20vw;
}

.div-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'American Typewriter', serif;
}

.wrong-answer {
    font-size: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
}



.create-page {
    height: 100%;
    width: 100%;
    
}



.color-container {
    display:flex;
    gap: 10px;
}



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid-form {
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    width: 35vw;
    margin-top: 2vh;
    

}

.grid-form > label, label[for="color-one"] {
    
    font-family: Lilita;
    border-radius: 10px;
    font-size: 3vh;
    padding: 4px;
    
    
}




.btn-container {
    display: flex;
    gap: 50px;
}

.grid-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}





.dynamic-grid {
    display: grid;
    margin: 20px;
    
}



.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    background-color:#00FA9A;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px;
    
}

.login-form-btn {
    padding-bottom: 50px;
    margin-top: 10px;
}

.genre-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
}

.genre-page {
    background-color:#7B68EE;
    position: relative;
    min-height: 100vh;
    
    
}

.genre-title {
    font-family: Lilita;
    font-size: 50px;
    text-align: center;
}

.puzzle-card {
    display: flex;
    flex-direction: column;
    margin: .5vw;
    
    
    
}

.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.puzzle-title {
    margin-top: 8vh;
    font-size: 2.5rem;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    font-family: 'American Typewriter', serif;
    
}


.puzzle-grid {
    display: grid;

    width: 150vh;
    height: 60vh;
    
}




.description {
    font-size: 1.5rem;
    font-family: Lilita;
}

.timer {
    position:absolute;
    right: 30px;
    top: 20px;
    font-size: 5vh;
    padding: 0px 5px 0px 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-bottom: 5px;
    font-family: 'American Typewriter', serif;
}

.name-cell {
    color: white;
    background-color:black;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
    font-size: 3vh;
    background-color: rgb(31, 31, 31);
    color:#00FA9A;
    text-align: center;
    padding: 10px;

}
