@font-face {
    font-family: Lilita;
    src: url("./fonts/Lilita.ttf")
}

html, body, #root {
    height: 100%;
}


.header {
    height: 9vh;
    font-size: 3rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genres {
    display: flex;
    gap: 1.2vh;
}


.green-txt-btn, .purple-txt-btn {
    background-color:black;
    height: 7vh;
    font-size: 2.0rem;
    font-weight: bold;
    border: none;
    color: #00FA9A;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 0px 0px 0px 0px;

}

.green-txt-btn:hover {
    color:  #7B68EE;
}

.purple-txt-btn:hover {
    color: #00FA9A;
}

.purple-txt-btn {
    color: #7B68EE;
}

.title {
    color: #00FA9A;
    font-family: Lilita;
    display: inline-block;
}

.title-span {
    color: #7B68EE;
    
}

.header-right {
    display: flex;
}

.grid-cell {
    border: 1px solid black;
    padding: 40px;
    font-size: .8rem;
}

.grid-form input{
    width: 20vw;
}

.div-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrong-answer {
    font-size: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
}



.create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 2rem;
}



.color-container {
    display:flex;
    gap: 10px;
}



.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    width: 35vw;
    
    
}

.btn-container {
    display: flex;
    gap: 50px;
}

.grid-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}





.dynamic-grid {
    display: grid;
    margin: 20px;
    
}



.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-container {
    margin: 100px;
}

.puzzle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.puzzle-title {
    margin-top: 8vh;
    font-size: 2.5rem;
}

.puzzle-grid {
    display: grid;
}

.description {
    font-size: 2rem;
}

.timer {
    position:absolute;
    right: 30px;
    top: 20px;
    font-size: 5vh;
}

.name-cell {
    color: white;
    background-color:black;
}